.wrapper {
	margin: 5rem auto;
	width: 15rem;
}

.game-container {
    margin: 0 auto;
    border: 1px solid black;
    width: 100%;
    height: 10rem;
}

.hole {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    font-size: 1rem;
    border-radius: 50%;
}

.hole.active {
	background: green;
}

.hole.disabled {
	background: #000000;
}