{
    extends: [
        "airbnb/base",
        "plugin:react/recommended"
    ],
    env: {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    parser: "babel-eslint",
    plugins: [
        "react",
        "jsx-a11y",
        "import",
        "eslint-plugin-react"
    ],
    ecmaFeatures: {
        jsx: true
    },
    rules: {
        "indent": 0,
        "no-tabs": 0,
        "comma-dangle": 0,
        "no-extra-parens": 0,
        "react/jsx-uses-vars": 1,
        "no-param-reassign": [2, {"props": false}],
        "import/prefer-default-export": 1
    }
}
